<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css" />
        <link rel="stylesheet" href="https://andogq.github.io/andogq/templates/main.css" />
        <link rel="stylesheet" href="https://andogq.github.io/andogq/templates/{{page_variables.page}}.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        {{{content}}}
    </body>
</html>
