@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat&display=swap');

:root {
    --background: #242732;
    --background-light: #323845;
    --text: #FFFFFF;
    --accent: #FDAE41;
    
    --space-xs: 0.75rem;
    --space-sm: 3rem;
    --space-md: 10rem;
    --space-lg: 20rem;

    --border-radius: 15px;

    --transition: 0.1s ease-in-out;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

    fill: var(--text);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;

    background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}

h1:not(.no_line)::after, h2:not(.no_line)::after, h3:not(.no_line)::after, h4:not(.no_line)::after, h5:not(.no_line)::after, h6:not(.no_line)::after, .line::after {
    content: "";
    height: 5px;
    width: 100px;
    margin: var(--space-xs) 0;

    display: block;

    border-radius: var(--border-radius);

    background-color: var(--accent);

    transition: width var(--transition);
}
h1.hover_line:not(.no_line):hover::after, h2.hover_line:not(.no_line):hover::after, h3.hover_line:not(.no_line):hover::after, h4.hover_line:not(.no_line):hover::after, h5.hover_line:not(.no_line):hover::after, h6.hover_line:not(.no_line):hover::after {
    width: 100%;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}

article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 {
    margin-top: var(--space-sm);
}

article > p + p {
    margin-top: var(--space-xs);
}

a {
    text-decoration: none;
}
a.no_link {
    color: unset;
}
a:not(.no_link) {
    color: var(--accent);
}

a:not(.no_link):hover {
    text-decoration: underline;
}

.pill_bar { 
    margin: var(--space-xs) 0;

    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pill_bar::-webkit-scrollbar {
    display: none;
}

.pill_bar > * {
    font-size: 0.75rem;
    text-align: center;

    padding: 0 var(--space-xs);

    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
}

.icon {
    height: 25px;
}
.icon > svg {
    height: 100%;
}

@keyframes bob {
    0% {
        bottom: calc(var(--space-sm) + var(--space-xs));
    }

    10% {
        bottom: calc(var(--space-sm) + var(--space-xs));
    }
    
    50% {
        bottom: var(--space-sm);
    }

    90% {
        bottom: calc(var(--space-sm) + var(--space-xs));
    }
}

@media (max-width: 1600px) {
    :root {
        --space-xs: 0.75rem;
        --space-sm: 3rem;
        --space-md: 6rem;
        --space-lg: 10rem;
    }
}

@media (max-width: 900px) {
    :root {
        --space-xs: 0.5rem;
        --space-sm: 2rem;
        --space-md: 3rem;
        --space-lg: 6rem;
    }
}
