<a class="no_link" href="/">
    <h2 id="logo" class="hover_line">{{user.name}}</h2>
</a>

<header>
    <h1>{{post.title}}</h1>

    <div id="info">
        <div class="pill_bar">
            {{#each post.labels}}
            <p>{{this.name}}</p>
            {{/each}}
        </div>

        <div id="timestamp">
            <p>Last updated <span class="timestamp">{{post.created}}</span></p>
        </div>
    </div>
</header>

<article>
    {{{post.body}}}
</article>

<footer>
    <img src="{{user.profile_picture}}"/>
    <div id="user_card">
        <h3>{{user.name}}</h3>
        <p><a href="{{user.github_profile}}">GitHub</a></p>
        <p><a href="{{user.twitter_profile}}">Twitter</a></p>
    </div>
</footer>

<script>
    for (let el of document.getElementsByClassName("timestamp")) {
        let time = new Date(el.innerText);
        el.innerText = time.toLocaleString();
    }
</script>
